RPC_URL=https://bsc-dataseed.binance.org/
PRIVATE_KEY=your_key_here
FACTORY_ADDRESS=0xcA143Ce32Fe78f1f7019d7d551a6402fC5350c73
ROUTER_ADDRESS=0x10ED43C718714eb63d5aA57B78B54704E256024E

# how much BNB to spend per snipe
AMOUNT_TO_SPEND=0.1
SLIPPAGE=15
